<h1>Celebrities</h1>


{{#each celebrities}}
  <div>
    <h5> Name: </h5> <p>{{name}}</p>
    <h5>occupation:</h5><p>{{occupation}}</p>
    <h5>catchphrase:</h5><p>{{catchPhrase}}</p>

   </div>
{{/each}}
<a href="/"> HOME </a>
