<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrity/create">> create celebrity</a> <br>
<a href="/celebrity/celebrities">>  celebrities</a> <br>
<a href="/movie/create">>  create movie</a> <br>
<a href="/movie/movies">> Movies</a>