<h1>Movies</h1>


{{#each allTheMoviesFromDB}}
  <div>
    <h5> title: </h5> <p>{{title}}</p>
   </div>
   <a href="/movies/movie-details"> see details</a>
{{/each}}
<br>
<br>
<br>
<a href="/"> HOME </a>